@import '/styles/variables';

.wrapper {
   max-width: 75rem;
   padding-top: 5rem;
   margin: 0 auto;
   .heading {
      display: flex;
      max-width: 42rem;
      margin: 0 auto;
      & > div {
         &:nth-child(1) {
            margin-left: 5rem;
         }
         &:nth-child(2) {
            margin-left: 4.2rem;
         }
         &:nth-child(3) {
            margin-left: 2.4rem;
         }
      }
      & > div[data-loc='ru'] {
         &:nth-child(1) {
            margin-left: 4rem;
         }
         &:nth-child(2) {
            margin-left: 2.7rem;
         }
         &:nth-child(3) {
            margin-left: 3.5rem;
         }
      }
      span {
         display: block;
         white-space: nowrap;
         width: fit-content;
         margin: 0 auto;
         text-transform: uppercase;
         background-color: $color-first;
         color: #fff;
         font-size: 0.8rem;
         padding: 0.5rem 1rem 0.4rem;
         border-radius: 0.5rem 0.5rem 0 0;
         letter-spacing: 2px;
      }
      &:last-child {
         background-color: red;
      }
      .zero {
         min-width: 6rem;
         span {
            background-color: #fff;
         }
      }
   }
   .rows {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .row {
         position: relative;
         display: grid;
         grid-template-columns: 4rem 10rem 15rem 10rem;
         grid-template-rows: 1fr;
         grid-column-gap: 0.5rem;
         grid-row-gap: 0px;
         align-items: center;
         width: fit-content;
         gap: 1rem;
         padding: 0.5rem;
         color: $color-first;
         text-decoration: none;
         border-radius: 3rem;
         margin: 0 auto;
         border-top: 2px solid $color-first;
         border-left: 2px solid $color-first;
         cursor: pointer;
         transition: background-color 0.3s;
         span.download {
            position: absolute;
            right: 2.2rem;
            top: 50%;
            transform: translateY(-50%) scale(0);
            width: 1.5rem;
            aspect-ratio: 1;
            background-image: url(/assets/images/svg/download.svg);
            transition: transform 0.3s;
         }
         &:hover {
            background-color: #f8f8f8;
            .image {
               transform: scale(1.05);
            }
            span.download {
               transform: translateY(-50%) scale(1);
            }
         }
         p {
            font-family: $font-1-medium;
            line-height: 1.3;
         }
         .image {
            transition: transform 0.3s;
            position: relative;
            overflow: hidden;
            width: 4rem;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: #e4e4e4;
         }
         @media (max-width: 870px) {
            display: flex;
            flex-direction: column;
            min-width: 300px;
            box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.7);
            padding: 1rem;
            p {
               text-align: center;
               box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.7);
               padding: 0.5rem 1rem 0.4rem;
               border-radius: 1rem;
               &:first-of-type {
                  background-color: $color-first;
                  color: #fff;
               }
            }
            span.download {
               transform: translateY(-50%) scale(1);
               top: 2rem;
            }
         }
      }
      @media (max-width: 870px) {
         gap: 2rem;
         margin-bottom: 1rem;
      }
   }
}
