{
   "trailingComma": "none",
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "printWidth": 120,
   "bracketSameLine": false,
   "arrowParens": "always",
   "jsxSingleQuote": true,
   "bracketSpacing": true
}
