@import '/styles/variables';

.nav {
   display: flex;
   gap: 1.875rem;
   .link {
      position: relative;
      font-family: $font-1-medium;
      text-decoration: none;
      color: #000000;
      transition: color 0.1s;
      &:hover {
         color: $color-third;
      }
   }
   .active {
      color: $color-third;
      &:after {
         $size: 0.25rem;
         position: absolute;
         content: '';
         left: -0.6rem;
         top: 50%;
         transform: translateY(-50%);
         width: $size;
         height: $size;
         border-radius: $size;
         background-color: $color-third;
      }
   }
   .fogging {
      color: #eaeaea;
   }
}
