@import '/styles/variables';

.wrapper {
   box-sizing: border-box;
   margin: 5rem 0 5rem 0;
   width: 100%;
   padding: 1rem;
   @media (max-width: 1200px) {
      margin: 0 0 3rem 0;
   }
   section {
      color: $color-first;
      margin: 0 auto;
      border-radius: 1rem;
      transition: box-shadow 0.3s;
      max-width: 68.75rem;
      box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.4);
      h5 {
         text-align: center;
         background-color: #fff;
         font-family: $font-1-semi-bold;
         padding: 1rem 0;
         box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.4);
         border-radius: 1rem 1rem 0 0;
         text-transform: uppercase;
      }
      .block {
         position: relative;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: 1fr;
         grid-column-gap: 0px;
         grid-row-gap: 0px;
         @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
         }
         .contact {
            padding: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            @media (max-width: 1200px) {
               padding-bottom: 0;
            }
            @media (max-width: 600px) {
               padding: 1rem 1rem 0;
            }
            button {
               @media (max-width: 1200px) {
                  align-self: center;
               }
            }
            .input {
               position: relative;
               display: flex;
               flex-direction: column;
               label {
                  position: relative;
                  font-family: $font-1-semi-bold;
                  font-size: 0.8rem;
                  text-transform: uppercase;
                  margin: 0 0 0.4rem 1rem;
                  width: fit-content;
                  &::after {
                     position: absolute;
                     content: url(/assets/images/svg/label-decor.svg);
                     right: -3.5rem;
                     top: 50%;
                     transform: translateY(-50%);
                     width: 3rem;
                  }
               }
               input,
               textarea {
                  padding: 2px 1rem;
                  height: 2rem;
                  border-radius: 1rem;
                  border: none;
                  box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.7);
                  &:focus {
                     box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.7);
                  }
               }
               textarea {
                  padding: 1rem;
                  height: 12.5rem;
                  resize: none;
                  margin-bottom: 1rem;
               }
               p {
                  position: absolute;
                  right: 0.5rem;
                  bottom: -1.2rem;
                  color: $color-third;
                  font-size: 0.8rem;
               }
               textarea ~ p {
                  bottom: -0.2rem;
               }
            }
         }
         .input.error {
            input,
            textarea {
               box-shadow: 0 0 0.5rem 0px lighten($color-third, 20);
            }
         }
         .map {
            align-self: center;
            margin: 0 auto;
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 0 0 1rem 0px rgba(206, 206, 206, 0.7);
            border: 2px solid #fff;
            width: 30rem;
            height: 30rem;
            @media (max-width: 1200px) {
               width: 90%;
               height: 85%;
            }
            .marker {
               width: 1.5rem;
               height: 1.5rem;
               border: 3px solid $color-second;
               background-color: #fff;
               background-image: url(/assets/images/svg/logo-mini.svg);
               background-repeat: no-repeat;
               background-position: center;
               background-size: 90%;
               border-radius: 20px;
            }
         }
      }
   }
}
.dropdown {
   .input {
      cursor: pointer;
   }
   button {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      width: 20px;
      height: 20px;
      border: none;
      background-image: url(/assets/images/svg/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: 50% 55%;
      border-radius: 1rem;
      background-color: #fff;
      cursor: pointer;
   }
   .select {
      box-sizing: border-box;
      position: absolute;
      font-size: 1rem;
      top: 3.8rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      border: 2px solid $color-second;
      background-color: #fff;
      border-radius: 1rem;
      width: 100%;
      z-index: 5;
      padding: 1rem 0;
      & > span {
         padding: 0.5rem 1.5rem;
         cursor: pointer;
         font-size: 14px;
         &:hover {
            background-color: $color-second;
            color: #fff;
         }
      }
   }
}
