@import '/styles/variables';

.wrapper {
   @media (max-width: 1000px) {
      text-align: center;
   }
   .info {
      margin: 0 auto;
      max-width: 1100px;
      line-height: 1.3;
      color: $color-first;
      .license {
         position: relative;
         width: fit-content;
         margin: 0 auto;
         padding: 2rem 1rem 1rem;
         &:hover button {
            transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.38, 1.41);
            transform: translate(-50%, -50%) scale(1);
         }
         button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 3rem;
            height: 3rem;
            border-radius: 1.5rem;
            border: 2px solid #fff;
            background-image: url(/assets/images/svg/eye-zoom.svg);
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: center;
            background-color: $color-second;
            cursor: pointer;
            transition: transform 0.2s;
            &:hover {
               transform: translate(-50%, -50%) scale(1.05);
            }
         }
      }
      .video {
         width: clamp(6.25rem, 90%, 37.5rem);
         height: calc(-5.65px + 605.65 * (100vw / 660));
         margin: 4rem auto 6rem;
         border-radius: 50%;
         overflow: hidden;
         border: 2px solid $color-second;
         @media (min-width: 660px) {
            height: 37.5rem;
         }
         @media (max-width: 660px) {
            margin-bottom: 4rem;
         }
         video {
            width: 100%;
         }
      }
      h3 {
         font-size: 1.2rem;
         font-family: $font-1-semi-bold;
      }
      p {
         text-indent: 1rem;
         color: rgba(255, 255, 255, 0);
         text-shadow: 0 0 1px #2c2c2c;
         padding: 0 0.5rem;
      }
      .textDesc {
         font-size: 1.2rem;
         padding: 0 1.5rem;
      }
      .textServ {
         display: flex;
         flex-direction: column;
         margin-top: 40px;
         h3 {
            background-color: $color-first;
            color: #fff;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.4rem;
         }
         p {
            margin-top: 2.5rem;
            font-size: 1.2rem;
            padding: 0 1rem;
         }
      }
   }
}
