@import '/styles/variables';

.wrapper {
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   width: 100%;
   z-index: 9999;
   .section {
      position: relative;
      .copyright {
         color: rgb(64, 64, 64);
         font-size: 12px;
         box-shadow: 0px -3px 5px 0px rgba(162, 162, 162, 0.1);
         padding: 6px 20px;
         text-align: center;
         width: 100%;
         backdrop-filter: blur(4px);
      }
      .blocks {
         display: flex;
         align-items: center;
         justify-content: space-between;
         box-sizing: border-box;
         position: absolute;
         left: 50%;
         bottom: 50px;
         transform: translateX(-50%);
         transition: opacity 0.5s;
         gap: 1.875rem;
         .block {
            border-radius: 5px;
            padding: 5px;
            box-shadow: 0px 0px 5px 0px rgba(162, 162, 162, 0.2);
            background-color: #fff;
            transition: transform cubic-bezier(0.23, 1, 0.32, 1) 0.8s, opacity cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
            border: 1px solid #fff;
            cursor: pointer;
            &:hover {
               border-color: $color-third;
            }
            & > span {
               display: block;
               width: 30px;
               height: 30px;
               background-repeat: no-repeat;
               background-position: center;
               background-size: 60%;
            }
            &[data-type='address'] {
               transform: translateY(100px) rotate(720deg);
               opacity: 0;
            }
            &[data-type='phone'] {
               transition-delay: 0.15s;
               transform: translateY(70px) rotate(720deg) scale(1.1);
               opacity: 0;
               &::after {
                  transform: translateX(-137%) scale(0.9);
                  top: 25px;
               }
            }
            &[data-type='mail'] {
               transition-delay: 0.3s;
               transform: translateY(90px) rotate(720deg) scale(0.9);
               opacity: 0;
               &::after {
                  transform: translateX(-50%) scale(1.1);
                  top: -42px;
               }
               & > span {
                  background-size: 65%;
               }
            }
         }
         .enter,
         .enterDone {
            &[data-type='address'] {
               transform: translateY(-30px) rotate(0deg);
               opacity: 1;
            }
            &[data-type='phone'] {
               transform: translateY(0) rotate(0deg) scale(1.1);
               opacity: 1;
            }
            &[data-type='mail'] {
               transform: translateY(-20px) rotate(0deg) scale(0.9);
               opacity: 1;
            }
         }
      }
      .active {
         opacity: 0;
         pointer-events: none;
      }
   }
}

@keyframes appear_address {
   0% {
      transform: translateY(100px) rotate(720deg);
      opacity: 0;
   }
   100% {
      transform: translateY(-30px) rotate(0deg);
      opacity: 1;
   }
}

@keyframes appear_phone {
   0% {
      transform: translateY(70px) rotate(720deg) scale(1.1);
      opacity: 0;
   }
   100% {
      transform: translateY(0) rotate(0deg) scale(1.1);
      opacity: 1;
   }
}

@keyframes appear_info {
   0% {
      transform: translateY(90px) rotate(720deg) scale(0.9);
      opacity: 0;
   }
   100% {
      transform: translateY(-20px) rotate(0deg) scale(0.9);
      opacity: 1;
   }
}
