$medium: '1600px';
$laptop: '1366px';
$mobile: '540px';

$font-1-light: 'Nunito-Light', sans-serif;
$font-1-medium: 'Nunito-Medium', sans-serif;
$font-1-medium-italic: 'Nunito-MediumItalic', sans-serif;
$font-1-regular: 'Nunito-Regular', sans-serif;
$font-1-semi-bold: 'Nunito-SemiBold', sans-serif;
$font-1-bold: 'Nunito-Bold', sans-serif;
$header-height: 80px;
$header-mobile-height: 50px;
$footer-height: 75px;
$footer-width: 300px;
$color-first: #1c1211;
$color-second: #2a3759;
$color-third: #dc4971;
