@import '/styles/variables';

.wrapper {
   .contacts {
      margin: 0 auto;
      max-width: 1100px;
      line-height: 1.3;
      color: #1c1211;
      padding-bottom: 4rem;
      .blocks {
         padding-top: 1rem;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         @media (max-width: 1200px) {
            flex-direction: column;
            gap: 4rem;
            align-items: center;
         }
         .block {
            position: relative;
            display: grid;
            align-items: center;
            grid-template-columns: 6rem 3rem 23rem;
            grid-column-gap: 0px;
            grid-row-gap: 1rem;
            @media (max-width: 485px) {
               grid-template-columns: 3rem 23rem;
            }
            &:after,
            &:before {
               position: absolute;
               content: '';
               width: 1px;
               background-color: #000;
            }
            &:after {
               left: 6.3rem;
               top: 0;
               height: 120%;
               @media (max-width: 485px) {
                  left: 2.5rem;
               }
            }
            &:before {
               left: 8.6rem;
               top: -0.7rem;
               height: 140%;
               @media (max-width: 485px) {
                  left: 0.3rem;
               }
            }
            span {
               display: flex;
               width: 24px;
               height: 24px;
               background-repeat: no-repeat;
               background-position: center;
               justify-self: center;
            }
            .address {
               width: 28px;
               height: 28px;
               background-image: url(/assets/images/svg/contacts-address.svg);
            }
            .phone {
               background-image: url(/assets/images/svg/contacts-phone.svg);
            }
            .mail {
               background-image: url(/assets/images/svg/contacts-mail.svg);
            }
            h4 {
               padding-right: 0.3rem;
               justify-self: end;
               color: $color-second;
               font-family: $font-1-semi-bold;
               @media (max-width: 485px) {
                  display: none;
               }
            }
            p,
            a {
               line-height: 1.5;
               padding-left: 0.5rem;
               text-decoration: none;
               color: $color-first;
               width: fit-content;
            }
            a:hover {
               color: $color-third;
            }
            h5 {
               text-decoration: underline;
               text-transform: uppercase;
               font-size: 0.8rem;
               font-weight: 600;
               margin-bottom: 0.2rem;
            }
         }
      }
   }
   .heading {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 2rem 1rem 2rem;
      span {
         display: block;
         margin-left: 0.5rem;
         width: 100px;
         height: 20px;
         margin-bottom: 0.5rem;
         background-image: url(/assets/images/svg/label-decor.svg);
         background-repeat: no-repeat;
         @media (max-width: 1000px) {
            display: none;
         }
      }
      h1 {
         font-size: 2rem;
         text-transform: uppercase;
         text-align: center;
      }
   }
}
